@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ПЕРВЫЙ БЛОК */
b {
  color: rgb(32, 32, 39);
}

.gov {
  -o-border-image: url(img/Gov\ fon.png);
     border-image: url(img/Gov\ fon.png);
  background: rgb(225, 255, 143);
  width: 1440px;
  height: 800px;
  /* ТЕКСТОВАЯ ФОРМА С КНОПКОЙ */
}
.gov__star-1 {
  width: 57px;
  height: 57px;
  left: 63px;
  top: 94px;
  position: absolute;
}
.gov__star-2 {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 156px;
  top: 69px;
}
.gov__section {
  width: 775px;
  height: 358px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding-left: 120px;
  padding-top: 196px;
  /* ФОРМЫ В ЛЕВОЙ ЧАСТИ БЛОКА */
}
.gov__section-form {
  position: absolute;
  width: 1074px;
  height: 1130.46px;
  left: 854px;
  right: -488px;
  top: -333.46px;
  bottom: 5123px;
}
.gov__section-form-2 {
  width: 83px;
  height: 83px;
  left: 1013px;
  top: 568px;
}
.gov__section-form-3 {
  display: flex;
}
.gov__section-form-4 {
  display: flex;
}
.gov__section-form-5 {
  display: flex;
  position: absolute;
  width: 317px;
  height: 163px;
  top: -10px;
}
.gov__section-form-6 {
  display: flex;
  position: absolute;
  width: 142px;
  height: 179px;
  top: 254px;
}
.gov__section-form-7 {
  display: flex;
  width: 219.88px;
  position: absolute;
  height: 418px;
  top: 379px;
}
.gov__section-form-8 {
  display: flex;
  width: 34px;
  height: 124px;
  left: 345px;
  top: 663px;
  position: absolute;
}
.gov__section-form-1 {
  display: flex;
}
.gov__title {
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 24px;
}
.gov__text {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 48px;
}
.gov__btn {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  color: rgb(255, 255, 255);
  height: 66px;
  width: 247px;
}
.gov__stripe {
  width: 1900px;
  height: 90px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  display: flex;
  flex-wrap: nowrap;
  align-content: flex-end;
  flex-direction: row;
  align-items: center;
  gap: 51px;
  margin-top: 156px;
}
.gov__stripe-text {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 4%;
  text-align: left;
  text-transform: uppercase;
}

.about {
  width: 1440px;
  height: 1600px;
  background: rgb(32, 32, 39);
}
.about__content {
  width: 1201px;
  height: 1326px;
}
.about__head {
  width: 1201px;
  height: 198px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 24px;
  padding-left: 119px;
  padding-top: 94px;
}
.about__game-box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  width: 1201px;
  height: 1056px;
  padding-top: 72px;
  padding-left: 119px;
  padding-right: 120px;
  justify-items: center;
  align-items: end;
}

.about__game {
  width: 378px;
  height: 551px;
  background-color: white;
  grid-column: span 4;
  border-radius: 30px;
}
.about__game-small {
  height: 473px;
}
.about__game-medium {
  height: 512px;
}
.about__game_number {
  width: 108px;
  padding-left: 32px;
  padding-top: 8px;
  padding-bottom: 10px;
  margin-top: 32px;
  margin-left: 32px;
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
}
.about__game_name {
  color: rgb(32, 32, 39);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 32px;
  padding-top: 16px;
}

.head_title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

.head_text {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.footer {
  width: 1441px;
  height: 150px;
  background: rgb(189, 237, 53);
}
.footer__text {
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}/*# sourceMappingURL=style.css.map */